
.button__btn {
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 10px 25px;
    margin: 3px;
    border-radius: 5px;
    transition: all .2s ease;
    color: gray;
}

.button__btn > h5 {
    margin-left: 5px;
}

.button__btn:hover {
    color: #0077b7;
    background-color: rgb(235, 235, 235);
}
