.widgets__container {
    float: .3;
    max-width: 316px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
}

.widgets__text {
    display: list-item;                                       
    list-style-type: disc;
    list-style-position: inside;
    font-size: 14px;
    font-weight: 500;
    color: rgb(49, 49, 49);
}

.widgets__title {
    display: flex;
    justify-content: space-between;
}

.widgets__title > h4 {
    color: rgb(97, 97, 97);
    font-weight: 500;
}

.widgets__timeDiff {
    font-size: 12px;
    color: gray;
}