.app {
    background-color: #f3f2ef;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.app__header {
    width: 100vw;
    position: sticky;
}

.app__body {
    margin-top: 20px;
    display: flex;
    max-width: 960px;
}

.app__sidebar {
}

.app__feed {

}

